@font-face {
    font-family: 'TrashHand';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("https://db.onlinewebfonts.com/t/28e6ad1357c8380cfb42e2b9fbd8d9cc.woff2")format("woff2");
}

@font-face {
    font-family: 'permanent_markerregular';
    src: url('PermanentMarker-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Cedarville Cursive';
    src: url("https://db.onlinewebfonts.com/t/2de94bf5a4d7c67d091bb9b95c26a421.woff2")format("woff2");
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'HaeresLetter-Regular';
    src: url("https://db.onlinewebfonts.com/t/a0e8dbfc0385e48dcff8d27dda76c452.woff2")format("woff2");
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Caveat';
    src: url("https://db.onlinewebfonts.com/t/cbd1738698b8498615f41a8ec4900172.woff2")format("woff2");
    font-weight: normal;
    font-style: normal;

}

:root {
    --yellow: #E6B80A;
}

/* GLOBAL */
@media screen and (min-width: 1408px) {
    .container:not(.is-max-desktop):not(.is-max-widescreen) {
        max-width: 1100px;
    }
}

h1,
h2 {
    font-family: "permanent_markerregular", sans-serif;
    color: black;
    font-weight: 400;
}

h1.title,
h2.title,
.content h1,
.content h2 {
    color: black;
    font-weight: 400;
}

strong {
    color: black;
}

.content figure {
    margin-left: 0;
    margin-right: 0;
}

/** NAVBAR **/

.navbar-brand {
    padding-right: 2em;
}

a.navbar-link,
a.navbar-item,
.navbar-link,
.navbar-item {
    transition: color .2s ease-in-out;
    color: black;
}


a.navbar-link:hover,
a.navbar-item:hover,
.navbar-link:hover,
.navbar-item:hover {
    color: var(--yellow);
    background: none;
}


.navbar-link:not(.is-arrowless)::after {
    border-color: var(--yellow);
    border-width: 1px;
}

div.columns.navbar-columns {
    margin-bottom: 0;
}

div.columns.navbar-columns div.column {
    padding-bottom: 0;
}

.post {
    padding-top: 2rem;
}

/** FOOTER **/
.footer {
    background-color: black;
}

.footer p,
.footer strong {
    color: white;
}